body {
    font-family: Georgia,"Times New Roman",sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}

.tophalf {
    background: #1f2937;
    background-size: cover;
    padding-left: 400px;
    padding-right: 400px;
}

.header {
    display: flex;
    height: 70px;
    width: 100%;
    flex-wrap: wrap;
    color: white;
}

.h {
    display: flex;
    font-size: 24px;
}
.container {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-items: right;
    gap: 32px;
    margin-left: auto;

}

.top {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.topleft {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 400px;
}

.topsubtext {
    color:#E5E7EB;
}

.topright {
    display: flex;
    width: 500px;
    height: 250px;
    background-color: rgb(107, 117, 129);
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
   
}

.b1 {
    display: flex;
    border: none;
    border-radius: 10px;
    background: #3882f6;
    font-weight: bold;
    color:white;
    width: 90px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
}

.middle {
    display: flex;
    height: auto;
    width: 400px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap:32px;
    margin-bottom: 100px;
    
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 32px;
    margin-top: 32px;

}

.midtext {
    padding-top: 12px;
    font-size: 16px;
    color: #1f2937;
    text-align: center;
}

.box1, .box2, .box3, .box4 {
    height: 130px;
    width: 130px;
    border: 3px solid #3882f6;
    border-radius: 10px;
   
}

.quote-space {
    height: 400px;
    background: #e5e7eb;
}

.quote {
    margin-left:400px;
    margin-right:400px;

}

.quote-text {
    padding-top: 100px;
    padding-left: 180px;
    padding-right: 180px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-end {
    text-align: right;
    padding-right: 180px;
    font-weight: 900;
    font-size: 24px;
}

.bottom {
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    margin-top:100px;
}

.btext {
    display: flex;
    height: 150px;
    width: 100%;
    background:#3882f6;
    border-radius: 10px;
    color:#E5E7EB;
}

.btext1 {
    display:flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 30px;
    margin-left: 150px;
    line-height: 0;
    margin-right: auto;
}

h4 {
    font-size: 24px;
}

.bsub {
    font-size: 18px;
    font-weight: 400;
}

.sign {
    background: #3882f6;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    padding:10px;
    height:40px;
    width:120px;
    font-weight: 900;
    margin-top: 55px;
    margin-right: 150px;
    font-size: 16px;
}

.footer {
    margin-top: 80px;
    height:80px;
    margin-bottom: none;
    background: #1f2937;
    color: white;
}

.ftext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}